<div class="bg-light">
    <div class="container">
        <div class="row align-items-center justify-content-center min-vh-100 gx-0">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="card card-shadow border-0">
                    <div class="card-body">
                        <div class="row g-6">
                            <div class="col-12">
                                <div class="text-center">
                                    <h3 class="fw-bold mb-2">Sign In</h3>
                                    <p>Login to your account</p>
                                </div>
                            </div>
                            <mat-form-field>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <mat-label>Email</mat-label>
                                        <input type="email" class="form-control"  [formControl]="email"  placeholder="Email">
                                        <!-- <label for="signin-email">Email</label> -->
                                        <mat-error *ngIf="email.hasError('email')">
                                            Please enter a valid email address
                                        </mat-error>
                                        <mat-error *ngIf="email.hasError('required')">
                                            Email is <strong>required</strong>
                                        </mat-error>
                                    </div>
                                </div>
                            </mat-form-field>
                            <mat-form-field>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <mat-label>Password</mat-label>
                                        <input type="password" class="form-control" [formControl]="password"  placeholder="Password">
                                        <!-- <label for="signin-password"></label> -->
                                        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
                                            Please enter strong password
                                        </mat-error>
                                        <mat-error *ngIf="password.hasError('required')">
                                            password is <strong>required</strong>
                                        </mat-error>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="level options">
                                        <div class="checkbox level-left">
                                          <input type="checkbox" id="checkbox" class="regular-checkbox">
                                          <label for="checkbox"></label>
                                          <span>Remember me</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button (click)="Submit()" class="btn btn-block btn-lg btn-primary w-100" type="submit" [disabled]="!email.valid || !password.valid">Sign In</button>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>