<app-navbar></app-navbar>
<div class="chat-landing-page">
    <ul class="page-decore">
        <li class="top"><img class="img-fluid inner2" src="./assets/home/Images/landing/footer/2.png" alt="footer-back-img"></li>
        <li class="bottom"><img class="img-fluid inner2" src="./assets/home/Images/landing/footer/2.png" alt="footer-back-img"></li>
    </ul>
    <section class="landing_page_slider">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="landing_page_slider-main text-center">
                        <div class="landing_page_slider-contain">
                            <h1>Easy To Use Our Chat App</h1>
                            <h4><span>Desktop App</span>– Easy to use our chat app, Attractive and clean design, with many<br> Features:- Dark & light, Recent Chat And many more.......</h4>
                        </div>
                    </div>
                </div>
                <div class="animated-img-1"><img class="img-fluid slicing-img-4" src="./assets/home/Images/landing-page/slicing/vector.png" alt="img"><img class="img-fluid slicing-img-5" src="./assets/home/Images/landing-page/slicing/vector1.png" alt="img"><img class="img-fluid slicing-img-6"
                        src="./assets/home/Images/landing-page/slicing/vector2.png" alt="img"><img class="img-fluid slicing-img-7" src="./assets/home/Images/landing-page/slicing/vector2.png" alt="img"></div>
                <div class="animated-img-2">
                    <div><img class="img-fluid slicing-img-1" src="./assets/home/Images/landing-page/slicing/11.png" alt="img"><img class="img-fluid slicing-img-2" src="./assets/home/Images/landing-page/slicing/21.png" alt="img"><img class="img-fluid slicing-img-3"
                            src="./assets/home/Images/landing-page/slicing/22.png" alt="img"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="wrapper">
        <form class="form">
          <div class="pageTitle title">Sign Up </div>
          <div class="secondaryTitle title">Please fill this form to sign up.</div>
          <input type="text" class="name formEntry" placeholder="Name" />
          <input type="text" class="email formEntry" placeholder="Email"/>
          <textarea class="message formEntry" placeholder="Message"></textarea>
          <input type="checkbox" class="termsConditions" value="Term">
          <label style="color: grey" for="terms"> I Accept the <span style="color: #0e3721">Terms of Use</span> & <span style="color: #0e3721">Privacy Policy</span>.</label><br>
          <button class="submit formEntry" onclick="thanks()">Submit</button>
        </form>
      </div>
    
    <app-footer></app-footer>
    <!-- tap to top start //-->
    <div class="tap-top">
        <div><i class="fa fa-angle-double-up"></i></div>
    </div>
    <!-- tap to top end //-->
</div>