<div class="bg-light">
    <div class="container">
        <div class="row align-items-center justify-content-center min-vh-100 gx-0">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="card card-shadow border-0">
                    <div class="card-body">
                        <div class="row g-6">
                            <div class="col-12">
                                <div class="text-center">
                                    <h3 class="fw-bold mb-2">Password Reset</h3>
                                    <p>Enter your email to reset password</p>
                                </div>
                            </div>

                            <mat-form-field appearance="fill">
                                <div class="col-12">
                                    <div class="form-floating">
                                        <mat-label>Email</mat-label>
                                        <input type="email" class="form-control"  [formControl]="email"
                                            placeholder="Email">
                                        <mat-error *ngIf="email.hasError('email')">
                                            Please enter a valid email address
                                        </mat-error>
                                        <mat-error *ngIf="email.hasError('required')">
                                            Email is <strong>required</strong>
                                        </mat-error>
                                    </div>
                                </div>
                            </mat-form-field>
                            <div class="col-12">
                                <button class="btn btn-block btn-lg btn-primary w-100" [disabled]="!email.valid" type="submit">Send Reset
                                    Link</button>
                            </div>
                            <!-- Text -->
                            <div class="text-center mt-8">
                                <p>Already have an account? <a href="#">Sign in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>