<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> @test.Message
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img class="testimonial-img" alt="">
                        <h3>@user.Fname @user.Lname</h3>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> @test.Message
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img class="testimonial-img" alt="">
                        <h3>@user.Fname @user.Lname</h3>
                    </div>
                </div>

                <!-- End testimonial item -->


                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> @test.Message
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img class="testimonial-img" alt="">
                        <h3>@user.Fname @user.Lname</h3>
                    </div>
                </div>

                <!-- End testimonial item -->



                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> @test.Message
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img class="testimonial-img" alt="">
                        <h3>@user.Fname @user.Lname</h3>
                    </div>
                </div>

                <!-- End testimonial item -->



                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> @test.Message
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img class="testimonial-img" alt="">
                        <h3>@user.Fname @user.Lname</h3>
                    </div>
                </div>

                <!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section>