<div class="layout overflow-hidden">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- Navigation -->

    <aside class="sidebar bg-light">
        <div class="h-100" role="">
                <!-- Notifications - Notices -->
                <div class="h-100" id="tab-content-notifications" role="tabpanel">
                    <div class="d-flex flex-column h-100">
                        <div class="hide-scrollbar">
                            <div class="container py-8">
        
                                <!-- Title -->
                                <div class="mb-8">
                                    <h2 class="fw-bold m-0">Notifications</h2>
                                </div>
        
                                <!-- Search -->
                                <div class="mb-6">
                                    <form action="#">
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <div class="icon icon-lg">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                                </div>
                                            </div>
        
                                            <input type="text" class="form-control form-control-lg ps-0" placeholder="Search messages or users" aria-label="Search for messages or users...">
                                        </div>
                                    </form>
                                </div>
        
                                <!-- Today -->
                                <div class="card-list">
                                    <!-- Title -->
                                    <div class="d-flex align-items-center my-4 px-6">
                                        <small class="text-muted me-auto">Today</small>
        
                                        <a class="text-muted small">Clear all</a>
                                    </div>
                                    <!-- Title -->
        
                                    <!-- Card -->
                                    <div *ngIf="this.chat.lopy.length>0">
                                        <div class="card border-0 mb-5" *ngFor="let item of this.chat.lopy">
                                        <div class="card-body">
        
                                            <div class="row gx-5">
                                                <div class="col-auto">
                                                    <!-- Avatar -->
                                                    <a href="#" class="avatar">
                                                        <img class="avatar-img" src="./assets/Chat/img/avatars/11.jpg" alt="">
        
                                                        <div class="badge badge-circle bg-primary border-outline position-absolute bottom-0 end-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                        </div>
                                                    </a>
                                                </div>
        
                                                <div class="col" >
                                                    <div class="d-flex align-items-center mb-2">
                                                        <h5 class="me-auto mb-0">
                                                            <a>{{item.user.fname}} {{item.user.lname}}</a>
                                                        </h5>
                                                        <span class="text-muted ms-2">{{item.adddate}}</span>
                                                    </div>
        
                                                    <div class="d-flex">
                                                        <div class="me-auto">Send you a friend request.</div>
        
                                                        <div class="dropdown ms-5">
                                                            <a class="icon text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">Show less often</a></li>
                                                                <li><a class="dropdown-item" href="#">Hide</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="card-footer">
                                            <div class="row gx-4">
                                                <div class="col">
                                                    <a class="btn btn-sm btn-soft-danger w-100" (click)="RejectFriend(item.frindid)">Reject</a>
                                                </div>
                                                <div class="col">
                                                    <a class="btn btn-sm btn-primary w-100" (click)="AcceptFriend(item)"> Accept</a>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- Card -->

                                    <!-- userBlocked -->
                                    <!-- Card -->
                                    <div *ngIf="this.chat.blockFriend.length>0">
                                        <div class="card border-0 mb-5" *ngFor="let item of this.chat.blockFriend">
                                        <div class="card-body">
        
                                            <div class="row gx-5">
                                                <div class="col-auto">
                                                    <!-- Avatar -->
                                                    <a href="#" class="avatar">
                                                        <img class="avatar-img" src="./assets/Chat/img/avatars/11.jpg" alt="">
        
                                                        <div class="badge badge-circle bg-primary border-outline position-absolute bottom-0 end-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                        </div>
                                                    </a>
                                                </div>
        
                                                <div class="col" >
                                                    <div class="d-flex align-items-center mb-2">
                                                        <h5 class="me-auto mb-0">
                                                            <a>{{item.user.fname}} {{item.user.lname}}</a>
                                                        </h5>
                                                        <span class="text-muted ms-2">{{item.adddate}}</span>
                                                    </div>
        
                                                    <div class="d-flex">
                                                        <div class="me-auto">your friend Is Bolcked.</div>
        
                                                        <div class="dropdown ms-5">
                                                            <a class="icon text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">Show less often</a></li>
                                                                <li><a class="dropdown-item" href="#">Hide</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="card-footer">
                                            <div class="row gx-4">
                                                <div class="col">
                                                    <a class="btn btn-sm btn-primary w-100" (click)="UnBlock(item.frindid)"> UnBlock</a>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- Card -->
                                </div>
                                <!-- Today -->
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </aside>
        
        
         <!-- Chat -->
                    
         <main class="main" [ngClass]="this.chat.collapse  ? 'is-visible' : ''" data-dropzone>
            <div class="container h-100">
                <app-chatempty *ngIf="this.chat.id==0" ></app-chatempty>
                <app-chat-with-message *ngIf="this.chat.id!=0"></app-chat-with-message>        
            </div>
        </main>
        
        <!-- Chat -->
        
</div>
        <!-- Layout -->
        
        

        