<div class="sidebar" data-color="rose" data-background-color="black" data-image="../../../assets/Admin/img/sidebar-1.jpg">

    <div class="logo"><a href="#" class="simple-text logo-mini">
            CT
        </a>
        <a href="#" class="simple-text logo-normal">
            Creative Tim
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="../../../assets/Admin/img/faces/avatar.jpg" />
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                        Tania Andrew
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/edit">
                                <span class="sidebar-mini"> EP </span>
                                <span class="sidebar-normal"> Edit Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Settings </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <!-- Dashboard -->
            <li class="nav-item active ">
                <a class="nav-link" routerLink="/admin">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard </p>
                </a>
            </li>
            <!-- mange pages -->
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
                    <i class="material-icons">image</i>
                    <p> Manage pages <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="pagesExamples">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> H </span>
                                <span class="sidebar-normal"> Home </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> AU </span>
                                <span class="sidebar-normal"> About Us </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> CU </span>
                                <span class="sidebar-normal"> Contact Us </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" routerLink='/admin/testimonial' routerLinkActive="router-link-active">
                                <span class="sidebar-mini"> T </span>
                                <span class="sidebar-normal"> Testimonial </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- User pages -->
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#componentsExamples">
                    <i class="material-icons">apps</i>
                    <p> User
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="componentsExamples">
                    <ul class="nav">
                        <!-- Users Active -->
                        <li class="nav-item ">
                            <a class="nav-link" routerLink='/admin/user'>
                                <i class="material-icons">timeline</i>
                                <p>Users Active</p>
                            </a>
                        </li>
                        <!-- Block Users -->
                        <li class="nav-item ">
                            <a class="nav-link" routerLink='/Block'>

                                <i class="material-icons">block</i>
                                <p>Block Users</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>


            <!-- Report Users -->
            <li class="nav-item ">
                <a class="nav-link" routerLink="/admin/Report">
                    <i class="material-icons">report</i>
                    <p>Report Users</p>
                </a>
            </li>
            <!-- service -->
            <li class="nav-item ">
                <a class="nav-link" routerLink="/admin/services">
                    <i class="material-icons">access_alarm</i>
                    <p>service</p>
                </a>
            </li>

            <!-- <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#mapsExamples">
                    <i class="material-icons">place</i>
                    <p> Maps
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="mapsExamples">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="maps/google.html">
                                <span class="sidebar-mini"> GM </span>
                                <span class="sidebar-normal"> Google Maps </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="maps/fullscreen.html">
                                <span class="sidebar-mini"> FSM </span>
                                <span class="sidebar-normal"> Full Screen Map </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="maps/vector.html">
                                <span class="sidebar-mini"> VM </span>
                                <span class="sidebar-normal"> Vector Map </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li> -->
            <li class="nav-item ">
                <a class="nav-link" href="widgets.html">
                    <i class="material-icons">access_alarm</i>
                    <p> Widgets </p>
                </a>
            </li>
            <li class="nav-item " (click)="logout()">
                <a class="nav-link">
                    <i class="material-icons">lock</i>
                    <p> Log Out </p>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-background"></div>
</div>